server {
    
    listen 80;
    server_name localhost; 

    location / {
        root {{ frontend_directory }}/frontend;
        try_files $uri $uri/ /index.html;
    }

    location /api {
        proxy_pass http://localhost:8080;
    }
}
